footer {
    margin-top: 80px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222428;
}
.logoHeader {
    margin: 0 260px;
}
.indesitLogoFooter {
    width: 150px;
}
.instagramImg {
    width: 30px;
    margin-left: 12px;
}
.titleFooter {
    color: #ffffff;
}