footer {
    margin-top: 80px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 144, 208, 0.68);
}
.logoHeader {
    margin: 0 260px;
}
.instagramImg {
    width: 30px;
    margin-left: 12px;
}